<app-navbar-customer></app-navbar-customer>
<div class="container">

  <div class="header">
    <h1>VoaTADS</h1>
    <button class="btn btn-outline-light">Logout</button>
  </div>


  <div class="row">
    <div class="col-md-6">
      <h2>Extrato de Milhas</h2>
      <table class="table table-bordered">
        <thead class="table-danger text-center">
          <tr>
            <th>Data/Hora</th>
            <th>Valor (R$)</th>
            <th>Qtd. Milhas Compradas</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>26/09/2024 13:55</td>
            <td>2.620</td>
            <td>524</td>
            <td>COMPRA MILHAS</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-between">
        <h2>Saldo Atual: <span class="text-danger">100000</span></h2>
      </div>
      <h3>Histórico de uso</h3>
      <table class="table table-bordered">
        <thead class="table-danger text-center">
          <tr>
            <th>Data/Hora</th>
            <th>Qtd. Milhas Usadas</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>26/09/2024 13:55</td>
            <td>2.620</td>
            <td>CWB → GRU</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
