<!--Modais-->
<app-modal-buy-miles></app-modal-buy-miles>
<app-modal-cancel-reserve></app-modal-cancel-reserve>
<!--Navbar-->
<app-navbar-customer></app-navbar-customer>
<!--Template principal da tela-->
<div class="d-flex align-items-center justify-content-center vh-100 bg-orange flex-column">
    <div class="w-100 h-90 padding-2">
        <div class="bg-white w-100 h-100 rounded-3">
            <div class="w-100 h-10">
                <div class="d-flex justify-content-between align-items-center h-100 px-3">
                    <div>
                        <h3 class="m-0">Olá! <span class="text-orange m-0">Razer Montano</span></h3>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-3">
                        <div>
                            <h4 class="m-0">Saldo de Milhas: <span class="text-orange m-0">10000</span></h4>
                        </div>
                        <!--Acionar modal buy miles-->
                        <div>
                            <a href="#" class="btn btn-orange text-white h-25 px-3" data-bs-toggle="modal" data-bs-target="#buyMilesModal">Comprar Milhas</a>
                        </div>
                    </div>    
                </div>
            </div>

            <div class="w-100 h-90 px-3">
                <h3 class="m-0">Suas Viagens:</h3>
                <div class="rounded border border-dark">
                    <table class="table table-hover table-bordered m-0 border-dark">
                        <thead class="align-middle text-center">
                            <tr>
                                <th class="text-white bg-orange-darker">Data/Hora</th>                                
                                <th class="text-white bg-orange-darker">Origem</th>
                                <th class="text-white bg-orange-darker">Destino</th>
                                <th class="text-white bg-orange-darker">Ações</th>                                
                                <th class="text-white bg-orange-darker">Status</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle text-center">
                            <tr *ngFor="let flight of listFlight">
                                <td>{{flight.dateDeparture | date: 'dd/MM/yyyy HH:mm' }}</td>
                                <td>{{flight.departureAirport}}</td>
                                <td>{{flight.destinationAirport}}</td>
                                <td class="text-primary fw-medium">Visualizar
                                    <br>
                                    <!--Acionar modal cancel reserve-->
                                    <span class="text-danger fw-medium" data-bs-toggle="modal" data-bs-target="#cancelReserveModal">Cancelar</span>
                                </td>
                                <td class="text-warning fw-medium">Reservado
                                    <br>
                                    <span class="text-success fw-medium">Realizado</span>
                                    <br>
                                    <span class="text-danger fw-medium">Cancelado</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>