<app-navbar></app-navbar>
<!--Modais-->
<app-modal-insert-employee></app-modal-insert-employee>
<app-modal-update-employee></app-modal-update-employee>
<app-modal-delete-employee></app-modal-delete-employee>
<!--Template principal-->
<div class="body">
  <div class="container">
    <div class="main-content">
      <div class="header-section">
        <h2>Lista de Funcionários</h2>

        <div class="add-employee-button">
          <button data-bs-toggle="modal" data-bs-target="#registerEmployeeModal">Inserir</button>
        </div>
      </div>
  
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.nome }}</td>
              <td>{{ employee.cpf }}</td>
              <td><a class="mail" href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
              <td>{{ employee.telefone }}</td>
              <td>
                <button class="btn btn-outline-success " data-bs-toggle="modal" data-bs-target="#updateEmployeeModal" type="submit">Editar</button>
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal" type="submit">Remover</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
