<app-navbar></app-navbar>

<div class="container">
  <div class="header">
    <h1>VoaTADS</h1>
    <button class="logout-button">Logout</button>
  </div>

  <div class="menu">
    <a href="#">Menu Inicial</a>
    <a href="#">Cadastro de Voo</a>
    <a href="#">Funcionários</a>
  </div>

  <div class="main-content">
    <h2>Lista de Funcionários</h2>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Guilherme Franco Batista</td>
            <td>111.111.111-11</td>
            <td><a href="mailto:triplogamer.gmail.com">triplogamer.gmail.com</a></td>
            <td>(41) 9 9999-9999</td>
            <td>
              <a href="#" class="edit-link">Editar</a>
              <a href="#" class="remove-link">Remover</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="add-employee-button">
      <button>Inserir</button>
    </div>
  </div>
</div>