.body {
  background-color: #f04e3e;
  padding: 20px;
  height: 640px;
}

.container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 80%;
  background-color: #f04e3e;
}

.main-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f04e3e;
  color: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.add-employee-button button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.edit-link {
  color: blue;
  margin-right: 10px;
  text-decoration: none;
}

.remove-link {
  color: red;
  text-decoration: none;
}

.edit-link:hover, .remove-link:hover {
  text-decoration: underline;
}

.mail {
  text-decoration: none;
}

.btn-outline-success{
  background-color: green;
  color: white;
}

.btn-outline-danger{
  background-color: red;
  color: white;
}