<div class="d-flex align-items-center justify-content-center vh-100 bg-orange flex-column">
    <div class="w-100 h-10 bg-white d-flex align-items-center justify-content-center">
      <h3 class="text-center">header aqui</h3>
    </div>
    <div class="w-100 h-90 padding-2">
      <div class="bg-white w-100 h-100 rounded-3 p-3">
        <div class="text-center mb-3">
          <h3>Cadastro de Voo </h3>
          <p>Preencha os campos e clique em confirmar para criar um novo Voo.</p>
        </div>

  
        <div class="d-flex justify-content-between mb-4">
          <div class="d-flex flex-column align-items-center">
            <label for="qtdPassagens"><strong>Código do Voo:</strong></label>
            <input id="codigovoo" style="background-color: rgb(199, 196, 196);"  placeholder="#TADS000" class="form-control1" disabled>

              <!-- Outras opções aqui -->

          </div>
  
          <div class="d-flex flex-column align-items-center">
            <label><strong>Data:</strong></label>
            <input id="datavoo" placeholder="20/10/2024" class="form-control1">
          </div>
  
          <div class="d-flex flex-column align-items-center">
            <label><strong>Horário:</strong></label>
            <input id="horariovoo" placeholder="14:00" class="form-control1">
          </div>

        </div>


        <div class="d-flex justify-content-between mb-4">
            <div class="d-flex flex-column align-items-center">
              <label for="qtdPassagens"><strong>Aeroporto Destino:</strong></label>
              <input id="destinovoo" placeholder="CWB - Curitiba" class="form-control2">

                <!-- Outras opções aqui -->

            </div>

    
            <div class="d-flex flex-column align-items-center">
              <label><strong>Aeroporto Destino:</strong></label>
              <input id="destinovooo" placeholder="GRU - São Paulo" class="form-control2">
            </div>

        </div>


        <div class="d-flex justify-content-between mb-4">
            <div class="d-flex flex-column align-items-center">
              <label for="qtdPassagens"><strong>Valor Passagem(R$):</strong></label>
              <input id="valorvoo" placeholder="230,00" class="form-control1">


            </div>
    
            <div class="d-flex flex-column align-items-center">
              <label><strong>Valor em Milhas:</strong></label>
              <input id="valormilhas" style="background-color: rgb(199, 196, 196);" placeholder="1.150" class="form-control1" disabled>
            </div>
    
            <div class="d-flex flex-column align-items-center">
              <label><strong>Qtd. Poltronas:</strong></label>
              <input id="qtdpoltronas" placeholder="70" class="form-control1">
            </div>
  
          </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-danger mx-2">Cancelar</button>
          <button class="btn btn-success mx-2">Confirmar</button>
        </div>        
      </div>
      <div>

    </div>
    </div>
  </div>
  