<!--Modais-->
<app-modal-check-in></app-modal-check-in>

<!--Template principal-->
<div class="d-flex align-items-center justify-content-center vh-100 bg-orange flex-column">
    <div class="w-100 h-10 bg-white d-flex align-items-center justify-content-center">
        <h3 class="text-center">header aqui</h3>
    </div>
    <div class="w-100 h-90 padding-2">
        <div class="bg-white w-100 h-100 rounded-3">
            <div class="w-100 h-10">
                <div class="d-flex justify-content-between align-items-center h-100 px-3">
                    <div style="margin-top: 30px;">
                        <div>
                            <h3 class="m-0">Digite o código da sua reserva:</h3>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="w-100 h-90 px-3" style="padding-top: 15px; display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <div class="d-flex justify-content-center" style="gap: 20px; margin-bottom: 20px;">
                        <div>
                            <input type="text" class="input-voa" placeholder="#AAA1111">
                        </div>
                        <div>
                            <button class="btn btn-success" style="padding: 10px; width: 200px;">Buscar</button>
                        </div>
                    </div>
                    <div>
                        <h3 class="m-0">Mostra as informações após buscar</h3>
                    </div>
                    <div class="d-flex justify-content-end mb-3">
                        <button class="btn btn-danger me-2" style="padding: 10px; width: 150px;">Cancelar</button>
                        <button class="btn btn-primary" style="padding: 10px; width: 150px;" data-bs-toggle="modal" data-bs-target="#checkInModal">Check-in</button>
                    </div>
                    
                    <div class="rounded border border-dark">
                        <table class="table table-hover table-bordered m-0 border-dark">
                            <thead class="align-middle text-center">
                                <tr>
                                    <th class="text-white bg-orange-darker">Data/Hora</th>
                                    <th class="text-white bg-orange-darker">Código</th>
                                    <th class="text-white bg-orange-darker">Origem</th>
                                    <th class="text-white bg-orange-darker">Destino</th>
                                    <th class="text-white bg-orange-darker">Valor (R$)</th>
                                    <th class="text-white bg-orange-darker">Milhas</th>
                                    <th class="text-white bg-orange-darker">Status</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle text-center">
                                <tr>
                                    <td>26/09/2024<br>13:55</td>
                                    <td>CWB<br>#AAA1111</td>
                                    <td>CWB<br>Afonso Pena</td>
                                    <td>GIG<br>Galeão</td>
                                    <td>1,112.00</td>
                                    <td>556</td>
                                    <td class="text-warning fw-medium">Reservada</td>
                                    
                                </tr>
                                <tr>
                                    <td>26/09/2024<br>13:55</td>
                                    <td>CWB<br>#AAA1111</td>
                                    <td>CWB<br>Afonso Pena</td>
                                    <td>GIG<br>Galeão</td>
                                    <td>1,112.00</td>
                                    <td>556</td>
                                    <td class="text-warning fw-medium">Reservada</td>
                                    
                                </tr>
                                <tr>
                                    <td>26/09/2024<br>13:55</td>
                                    <td>CWB<br>#AAA1111</td>
                                    <td>CWB<br>Afonso Pena</td>
                                    <td>GIG<br>Galeão</td>
                                    <td>1,112.00</td>
                                    <td>556</td>
                                    <td class="text-warning fw-medium">Reservada</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div>
            </div>
        </div>
        
    </div>
</div>

