/*--------------------------------------
        Cadastro
--------------------------------------*/

#cadastro {
    margin-top: 2%;
    background-color: var(--bg-form-color);
    border-radius: 20px;
    width: 800px;
    padding: 15px;
}

#cadastro input{
    margin-bottom: 7px;
}

#cadastro h1{
    font-size: 40px;
    color: var(--primary-color);
    font-family: 'Courier New', monospace;
    font-weight: bolder;

}

#cadastro h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4c4c4c;
    font-size: 25px
    }

#cadastro button{
    margin-top: 10px;
    margin-left: 10px;
}