<div class="layout">
<!-- <div class="d-flex align-items-center justify-content-center" style="height: 100vh;"> -->
<div class="register-container" style="height: 100vh;">
<div id="cadastro">
    <h1>Cadastre-se no VoaTads</h1>
    <p>Ao realizar seu cadastro sua senha será enviada para o seu email</p>
    <!--formulario-->
    <form class="row" action="" method="post">    
        <!--Nome-->
        <div class="form-group col-6">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Nome"
            name="name"
            [(ngModel)]="customer.name"
            #nameInput="ngModel"
            required>
            <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">
                <div *ngIf="nameInput.errors?.['required']">
                    Nome é obrigatório
                </div>
            </div>
        </div>

        <!--CPF-->
        <div class="form-group col-6">
            <label>CPF</label>
            <input type="text" class="form-control" placeholder="CPF" 
            name="cpf"
            [(ngModel)]="customer.cpf"
            #cpfInput="ngModel"
            pattern="\d{3}\d{3}\d{3}\d{2}"
            required>
            <div *ngIf="cpfInput.invalid && (cpfInput.dirty || cpfInput.touched)" class="text-danger">
                <div *ngIf="cpfInput.errors?.['required']">
                    CPF é obrigatório
                </div>
                <div *ngIf="cpfInput.errors?.['pattern']">
                    Por favor, insira um CPF válido
                </div>
            </div>
        </div>

        <!--Email-->
        <div class="form-group col-6">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" 
            name="email"
            [(ngModel)]="customer.email"
            #emailInput="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            required>
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
                <div *ngIf="emailInput.errors?.['required']">
                    Email é obrigatório
                </div>
                <div *ngIf="emailInput?.errors?.['pattern']">
                    Por favor, insira um email válido
                </div>
            </div>
        </div>
        
        <!--CEP-->
        <div class="form-group col-6">
            <label>CEP</label>
            <input type="text" class="form-control" placeholder="CEP" 
            name="zipCode"
            [(ngModel)]="customer.zipCode"
            #zipCodeInput="ngModel"
            pattern="\d{5}\d{3}"
            required>
            <div *ngIf="zipCodeInput.invalid && (zipCodeInput.dirty || zipCodeInput.touched)" class="text-danger">
                <div *ngIf="zipCodeInput.errors?.['required']">
                    CEP é obrigatório
                </div>
                <div *ngIf="zipCodeInput.errors?.['pattern']">
                    Por favor, insira um CEP válido
                </div>
            </div>
        </div>
        
        <!--Rua-->
        <div class="form-group col-6">
            <label>Rua</label>
            <input type="text" class="form-control" placeholder="Rua" 
            name="street"
            [(ngModel)]="customer.street"
            #streetInput="ngModel"
            required>
            <div *ngIf="streetInput.invalid && (streetInput.dirty || streetInput.touched)" class="text-danger">
                <div *ngIf="streetInput.errors?.['required']">
                    Rua é obrigatório.
                </div>
            </div>
        </div>

        <!--Número-->
        <div class="form-group col-6">
            <label>Número</label>
            <input type="number" class="form-control" placeholder="Número" 
            name="number"
            [(ngModel)]="customer.number"
            #numberInput="ngModel"
            required>
            <div *ngIf="numberInput.invalid && (numberInput.dirty || numberInput.touched)" class="text-danger">
                <div *ngIf="numberInput.errors?.['required']">
                    Número é obrigatório.
                </div>
            </div>
        </div>

        <!--Complement-->
        <div class="form-group col-6">
            <label>Complemento</label>
            <input type="text" class="form-control" placeholder="Complemento" 
            name="complement"
            [(ngModel)]="customer.complement"
            required>
        </div>

        <!--Estado-->
        <div class="form-group col-6">
            <label>Estado</label>
            <input type="text" class="form-control" placeholder="Estado" 
            name="state"
            [(ngModel)]="customer.state"
            #stateInput="ngModel"
            required>
            <div *ngIf="stateInput.invalid && (stateInput.dirty || stateInput.touched)" class="text-danger">
                <div *ngIf="stateInput.errors?.['required']">
                    Estado é obrigatória.
                </div>
            </div>
        </div>
    
        <!--Cidade-->
        <div class="form-group col-6">
            <label>Cidade</label>
            <input type="text" class="form-control" placeholder="Cidade" 
            name="city"
            [(ngModel)]="customer.city"
            #cityInput="ngModel"
            required>
            <div *ngIf="cityInput.invalid && (cityInput.dirty || cityInput.touched)" class="text-danger">
                <div *ngIf="cityInput.errors?.['required']">
                    Cidade é obrigatória.
                </div>
            </div>
        </div>
        
        <div class="text-danger">
            {{errorMessage}}
        </div>

        <!--Cadastrar-->
        <div class="form-group col-2">    
            <button type="button" class="btn btn-primary" (click)="register()">Cadastrar</button>
        </div>
        
        <!--Cancelar-->
        <div>
            <p>Já possui conta? <a [routerLink]="['/login']" class="register-account-link">Acesse!</a></p>
        </div>
    </form>
</div>
</div>
</div>