.layout {
  background-color: #ff2600;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-form-color);
  width: 100%;
}

.content-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.login-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 442px;
}

.login-right {
  background-color: #ffffff
}

#login h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ff6347;
}

#login .brand-name {
  color: #ff6347;
  font-weight: bold;
}

#login p {
  margin-bottom: 20px;
  font-size: 16px;
}

#login input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.btn-primary {
  background-color: #ff6347;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button.btn-primary:hover {
  background-color: #ff4500;
}

.create-account-link {
  color: #ff6347;
  font-weight: bold;
}

.create-account-link:hover {
  text-decoration: none;
}
