<app-navbar-customer></app-navbar-customer>
<div class="d-flex align-items-center justify-content-center vh-100 bg-orange flex-column">
    <div class="w-100 h-90 padding-2">
        <div class="bg-white w-100 h-100 rounded-3">
            <div class="w-100 h-10">
                <div class="d-flex justify-content-between align-items-center h-100 px-3">
                    <div style="margin-top: 30px;">
                        <div>
                            <h3 class="m-0">Reserve agora a sua viagem!</h3>
                        </div>
                        <div>
                            <span class="texto-subtitulo">Ao selecionar sua viagem é possível visualizar os detalhes.</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-3">
                        <div>
                            <h4 class="m-0">Saldo de Milhas: <span class="text-orange m-0">{{ milesBalance }}</span></h4>  
                        </div>
                    </div>    
                </div>
            </div>

            <div class="w-100 h-90 px-3" style="padding-top: 15px; display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <div class="d-flex justify-content-center" style="gap: 20px; margin-bottom: 20px;">
                        <div>
                            <label for="aeroportoOrigem"><strong>Aeroporto Origem:</strong></label>
                            <select id="aeroportoOrigem" class="form-control" [(ngModel)]="flight.aeroportoOrigem" name="aeroportoOrigem" required>
                              <option value="" disabled selected>Escolha o Aeroporto de Origem</option>
                              <option *ngFor="let aeroporto of listaAeroportos" [value]="aeroporto.codigo_aeroporto">
                                {{ aeroporto.nome }} - {{ aeroporto.cidade }}/{{ aeroporto.estado }}
                              </option>
                            </select>
                          </div>
                        
                          <div>
                            <label for="aeroportoDestino"><strong>Aeroporto Destino:</strong></label>
                            <select id="aeroportoDestino" class="form-control" [(ngModel)]="flight.aeroportoDestino" name="aeroportoDestino" required>
                              <option value="" disabled selected>Escolha o Aeroporto de Destino</option>
                              <option *ngFor="let aeroporto of listaAeroportos" [value]="aeroporto.codigo_aeroporto">
                                {{ aeroporto.nome }} - {{ aeroporto.cidade }}/{{ aeroporto.estado }}
                              </option>
                            </select>
                          </div>
                        <!-- <div> -->
                            <button class="btn btn-success" style="padding: 10px; width: 200px;" (click)="searchFlights()">Buscar</button>
                        <!-- </div> -->
                    </div>

                    <div class="rounded border border-dark">
                        <table class="table table-hover table-bordered m-0 border-dark">
                            <thead class="align-middle text-center">
                                <tr>
                                    <th class="text-white bg-orange-darker">Data/Hora</th>
                                    <th class="text-white bg-orange-darker">Aeroporto Origem</th>
                                    <th class="text-white bg-orange-darker">Aeroporto Destino</th>
                                    <th class="text-white bg-orange-darker">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle text-center">
                                <tr *ngFor="let flight of listaVoos">
                                    <td>{{flight.dataVoo}}</td>
                                    <td>{{flight.aeroportoOrigem}}</td>
                                    <td>{{flight.aeroportoDestino}}</td>
                                    <td><button class="btn btn-primary">Visualizar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div>
                <div class="d-flex justify-content-center" style="padding-bottom: 15px;">
                    <i class="fas fa-chevron-circle-right" [class]="currentScreen === 1 ? 'fas fa-chevron-circle-right text-orange' : 'fas fa-chevron-circle-right text-dark'"></i>
                    <i class="fas fa-chevron-circle-right mx-3" [class]="currentScreen === 2 ? 'fas fa-chevron-circle-right text-orange' : 'fas fa-chevron-circle-right text-dark'"></i>
                    <i class="fas fa-chevron-circle-right" [class]="currentScreen === 3 ? 'fas fa-chevron-circle-right text-orange' : 'fas fa-chevron-circle-right text-dark'"></i>
                </div>
            </div>
        </div>
        
    </div>
</div>

