<app-reusable-modal modalId="cancelReserveModal" title="Cancelar Reserva">
    <div>
        <div>
            <p><strong>Origem/Destino:</strong>  {{selectedBooking?.flightDetails?.aeroportoOrigem}}  →  {{selectedBooking?.flightDetails?.aeroportoDestino}} </p>
            <p><strong>Data/Horário:</strong> {{selectedBooking?.timeBooking | date: 'dd/MM/yyyy HH:mm'}} </p>
            <p><strong>Valor(R$) Total:</strong> {{selectedBooking?.flightDetails?.valorPassagem}} </p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-primary" (click)="confirmarCancelamento()">Confirmar</button>
            </div>
        </div>
    </div>
</app-reusable-modal>