.navbar{
    justify-content: center;
    height: 100px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Ajuste o espaço entre os itens conforme necessário */
}

.navbar-brand {
  margin: auto;
  font-size: 2em;
  font-weight: 900;
  color: #f04e3e;
}

.btn {
    background-color: #f04e3e;
    color: white;
}