<nav class="navbar justify-content-end navbar-expand-md navbar-dark bg-dark">
        
    <ul class="navbar-nav mr-auto ms-3">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/customer/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/customer/pag01">pag01</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/customer/pag02">pag02</a>
          </li>
        </ul>
  
          
        <ul class="navbar-nav ml-auto me-3">
          <li class="nav-item">
            <a class="nav-link me-3"  href="#">Logout</a>
          </li>

        </ul>
</nav>