<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand mx-auto" [routerLink]="['/home-employee']">VoaTADS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--Funcionario-->
    <ul class="navbar-nav me-auto mx-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home-employee']">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/create-flight']">Cadastro de Voo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-employee']">Lista de funcionários</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" [routerLink]="['/login']">Logout</button>
    </form>
  </div>
</div>
</nav>